:root {
  --loader-size: 40px;
}

.loader {
  width: var(--loader-size);
  aspect-ratio: 1;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: calc(var(--loader-size));
  box-shadow: 0 0 0 calc(var(--loader-size) * 0.09) inset #2563eb;
  animation: l4 2.5s infinite;
}

.loader:after {
  animation-delay: -1.25s;
}

@keyframes l4 {
  0% {
    inset: 0 calc(var(--loader-size) * 0.538) calc(var(--loader-size) * 0.538) 0;
  }
  12.5% {
    inset: 0 calc(var(--loader-size) * 0.538) 0 0;
  }
  25% {
    inset: calc(var(--loader-size) * 0.538) calc(var(--loader-size) * 0.538) 0 0;
  }
  37.5% {
    inset: calc(var(--loader-size) * 0.538) 0 0 0;
  }
  50% {
    inset: calc(var(--loader-size) * 0.538) 0 0 calc(var(--loader-size) * 0.538);
  }
  62.5% {
    inset: 0 0 0 calc(var(--loader-size) * 0.538);
  }
  75% {
    inset: 0 0 calc(var(--loader-size) * 0.538) calc(var(--loader-size) * 0.538);
  }
  87.5% {
    inset: 0 0 calc(var(--loader-size) * 0.538) 0;
  }
  100% {
    inset: 0 calc(var(--loader-size) * 0.538) calc(var(--loader-size) * 0.538) 0;
  }
}